body{
	background-color: hsl(0, 0%, 95%);
	
}


.all-cards{
 position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 70%;
} 



.nopadding {
	padding: 0 !important;
	margin: 0 !important;
 }

.card-1{
	background-color:hsl(31, 77%, 52%) ;
	padding: 70px 50px 60px 50px;
	border-radius: 10px 0px 0px 10px;
}
.card-2{
	background-color:hsl(184, 100%, 22%);
	padding: 70px 50px 60px 50px;
}
.card-3{
	background-color:hsl(179, 100%, 13%);
	padding: 70px 50px 60px 50px;
	border-radius: 0px 10px 10px 0px;

}

 .svg-icon{
	margin-bottom: 25px;
 }

.card-main h4{
	font-family: 'Big Shoulders Display', cursive;
	font-weight: 700;
	font-size: 35px;
	color:hsl(0, 0%, 95%);
padding: 15px 0px 15px 0px;}


.card-main p{
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: hsla(0, 0%, 100%, 0.75);
padding-bottom: 80px;
line-height: 1.5rem;
word-spacing: 3px;
}


.card-1 button{
	border: none;
background-color: hsl(0, 0%, 95%);
	padding: 10px 30px 10px 30px;
		border-radius:40px;
		color:hsl(31, 77%, 52%) ;
		;
		font-family: 'Lexend Deca', sans-serif;
	font-weight: 400;

}
.card-2 button{
	border: none;
background-color: hsl(0, 0%, 95%);
	padding: 10px 30px 10px 30px;
		border-radius:40px;
		color:hsl(184, 100%, 22%)
		;
		;
		font-family: 'Lexend Deca', sans-serif;
	font-weight: 400;

}
.card-3 button{
	border: none;
background-color: hsl(0, 0%, 95%);
	padding: 10px 30px 10px 30px;
		border-radius:40px;
		color:hsl(179, 100%, 13%);
		;
		font-family: 'Lexend Deca', sans-serif;
	font-weight: 400;

}